{% extends "layouts/base.html" %} {% set pageCriticalStyles = ['css/home.css']
%} {% block content %}
<div class="wrapper">
  <article class="intro">
    <div class="[ intro__header ] [ radius ]">
      <h1 class="[ intro__heading ] [text-700 md:text-800 weight-bold ]">
        {{ intro.eyebrow }}
      </h1>
      <p><em class="[ weight-normal text-600 ]">{{ intro.main }}</em></p>
    </div>

    <div class="[ intro__media ] [ radius dot-shadow ]">
      <img
        class="[ intro__image ] [ radius ]"
        src="{{ intro.image }}"
        alt="{{ intro.imageAlt }}"
      />
    </div>
  </article>
</div>
<div class="flex-box flex-center">
    <iframe
    frameborder="0"
    src="https://itch.io/embed-upload/2986502?color=333333"
    allowfullscreen=""
    width="80%"
    height="620"
    ><a href="https://larszachary.itch.io/freedom"
      >Play Freedom on itch.io</a
    ></iframe
  >
</div>

{% set shortBio = shortbio %} {% include "partials/short-bio.html" %} {%
endblock %}
