{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% block content %}
<div class="wrapper">
  <article>
    <div>
      <h1 class="[text-700 md:text-800 weight-bold ]">
        {{ details.hook }}
      </h1>
      <p><em class="[ weight-normal text-400 md:text-600 ]">{{ details.description }}</em></p>
    </div>
    <section class="[ panel ]">
      <h2>Timeline</h2>
      <ul class="timeline-list">
      {% for item in timeline %}
      <div class="timeline-item">
      <li>{{ item.date }}: {%if item.link.length > 1 %}
        <a href={{item.link}}>{{ item.experience }}</a>
        {% endif %}
        {% if item.link.length == 0 %}
        {{item.experience }}
        {% endif %}
      </li>
      <p class="details frame">{{ item.details }}</p>
    </div>
      {% endfor %}
      </ul>
    </section>
  </article>
</div>

{% endblock %}