.post-list {
    &__link {
      font-size: get-size('600');
      color: get-color('dark-shade');
      text-decoration-color: get-color('primary');
  
      @include apply-utility('font', 'sans');
      @include apply-utility('weight', 'bold');
  
      &:hover {
        color: get-color('primary');
        text-decoration-color: get-color('secondary-shade');
      }
    }
    &__item {
      background-color: get-color('light');
      padding: get-size('500');
      border-radius: 10px;
      box-shadow: 4px 6px get-color('quaternary-shade')
    }
  }
  .tag {
    margin: get-size('300')
  }