// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

.intro {

&__header {
    margin: get-size('700') get-size('500');
}
}
.caption {
    text-align: center;
    transform: translateY(-20px);
    z-index: 50;
}
.item {
    padding: get-size('500');
    height: 150px;
    width: 150px;
    
}
.item-container {
    margin: get-size('500');
    padding: get-size('600');
    text-align: center;
}
.flow > * + * {
    margin-top: var(--flow-space, get-size('600'));
  }  
.learning-div {
    background: get-color('secondary');
    padding: get-size('600');
}
.quote {
    font-style: italic;
}
.word
{
    padding: get-size('300');
    margin: get-size('300');
    background-color: get-color('tertiary-glare')
} 
.shadow {
    box-shadow: 4px 6px get-color('dark-shade')
}
.snippet {
    color: get-color('dark');
    margin-bottom: get-size('700');
  }