// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in Gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';
.binary {
  font-family: monospace;
}
.details {
  background-color: get-color('secondary');
  padding: get-size('600');
  position: relative;
  margin-top: get-size('300');
}
.helper-text {
  font-size: get-size('500');
  font-style: italic;
}
.snippet {
  color: get-color('dark');
  font-size: get-size('400');
  margin-top: get-size('300');
  padding-left: get-size('300');
  border-left: 3px solid get-color('quinary');
}
// Generic styles
time[datetime] {
  color: get-color('dark-shade');
  font-size: get-size('400');
}
.timeline-item {
  padding: get-size('600');
  max-width: 50rem;
}
.timeline-item li{
  font-family: monospace;
  font-size: get-size('600');
}
.timeline-list {
  list-style-type: none;
}