{% set shortBio = shortbio %}

<article class="panel">
    <div class="wrapper">
        <div class="flow">
          <h2 class="headline" data-highlight="quaternary">{{ shortBio.title }}</h2>
          <p>{{ shortBio.summary }}</p>
          <div>
            <div class="panel">
              <h3>guiding principles</h3>
              <div class="flex-box">
                {% for principle in shortBio.principles %}
                <p class="word shadow">
                    {{ principle }}
                </p>
                {% endfor %}
              </div>
            </div>
          
              <div class="panel billboard">
                <h3>tools + technologies</h3>
                <div class="flex-box">
                  {% for technology in shortBio.technologies %}
                  <p class="item">
                      {{ technology }}
                  </p>
                  {% endfor %}
                </div>
              </div>
          
         
              
              <div class="panel frame learning-div">
                  <h3 class="quote">{{ shortBio.quote }}</h3>
                  <p class="tagline">{{ shortBio.tagline }}</p>
              </div>
       
          </div>
        </div>
      </div>
</article>