{% set shortBio = shortbio %}

<article class="panel">
    <div class="wrapper">
        <div class="flow">
          <h2 class="headline" data-highlight="quaternary">{{ shortBio.title }}</h2>
          <p>{{ shortBio.summary }}</p>
          <div>
            <div class="panel">
              <h3>my guiding principles</h3>
              <div class="flex-box">
                {% for principle in shortBio.principles %}
                <p class="word">
                    {{ principle }}
                </p>
                {% endfor %}
              </div>
            </div>
              
              <div class="panel frame learning-div">
                  <h3 class="quote">{{ shortBio.quote }}</h3>
                  <p class="tagline">{{ shortBio.tagline }}</p>
              </div>
       
          </div>
        </div>
      </div>
</article>